/* .icons{
    height: 184px;
    width : 1923px;
}

#eventAndFestival{
    display: inline-block;
    position: relative;
    width: 184px;
    height: 184px;
    margin-left : 365px;
    background: rgba(102, 40, 40, 0.1);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#tripPlaceNearby{
    display: inline-block;
    position: relative;
    margin-left: 450px;
    width: 184px;
    height: 184px;
    
    background: rgba(10, 55, 17, 0.1);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    offset: 0px, 4px;
}

#tripPlacebyArea{
    display: inline-block;
    position: relative;
    width: 184px;
    height: 184px;
    margin-left: 72px;
    background: rgba(175, 171, 130, 0.1);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    offset: 0px, 4px;
}

#tripPlaceRecom{
    display: inline-block;
    position: relative;
    width: 184px;
    height: 184px;
    margin-left: 72px;
    background: rgba(15, 118, 151, 0.1);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    offset: 0px, 4px;
}

#weatherAnnounce{
    display: inline-block;
    position: relative;
    width: 184px;
    height: 184px;
    margin-left: 72px;
    background: rgba(168, 71, 0, 0.1);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    offset: 0px, 4px;
} */