<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.traveler.main.mapper.user.UserDetailMapper">
	
	<!-- 메일 중복 체크 -->
	<select id="checkMail" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM Members
		WHERE userEmail = #{userEmail}
	</select>
	
	<!-- 닉네임 중복 체크 -->
	<select id="checkNickName" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM Members
		WHERE userNickName = #{userNickName}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="modifyPassword" parameterType="SignInVo">
		UPDATE Members
		SET userPW = #{passwd}
		WHERE userEmail = #{mail}
	</update>
	
</mapper>