<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.traveler.main.mapper.tripInfoMapper.tripInfoMapper">

	<select id="getInformation" resultType="com.traveler.main.vo.tripInfoVO.tripInfoVO">
		select * from TripInformation_main
	</select>

		<select id="getInformation_content" resultType="com.traveler.main.vo.tripInfoVO.tripInfoVO">
		select * from TripInformation_content
	</select>
</mapper>